@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

@import url('https://fonts.googleapis.com/css2? family= UnifrakturCook & display=swap');
*{
    margin: 0px;
    padding: 0px;
    
    color: rgb(41, 41, 41);
    color: rgba(0, 0, 0, 0.158);
    color: aliceblue;
    color: red;
    color: yellow;

   
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#resp{
    font-size: 3em;
    color: aliceblue; 
}
#resp:hover{
    font-size: 3.2em;
    cursor: pointer;
}
menu{
    width: 98vw;
    background-image: linear-gradient(to bottom, rgb(22, 22, 22), rgb(48, 47, 47), rgb(48, 47, 47), rgb(22, 22, 22));
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    box-shadow: 3px 3px 5px black;   
}
#nom{
    margin-left: 30%;
}
#men{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.521);
    color: aliceblue;
    display: none;
}
#men a{
    color: aliceblue;
    font-family: 'Berkshire Swash', cursive;
    display: block;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
    padding: 4px;
    border-bottom: 2px solid white;
    font-size: 1em;
}
ul{
    list-style-type: none;
}
#mat{
    font-family: 'UnifrakturMaguntia', cursive;
    font-weight: 600;
    color: aliceblue;
    font-size: 3em;
}
.her{
    width: 98vw;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.692);
   
    
}
.mart{
    font-family: 'UnifrakturMaguntia', cursive;
    color:aliceblue;
    font-size: 3.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    padding-top: 36px;
    padding-bottom: 0px;
}
.tat{
    font-family:Arial, Helvetica, sans-serif;
    color: red;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    font-size: 1.8em;
    padding-top: 0px;
    padding-bottom: 35px;
}
#ho{
    color: red;
    font-size: 2.6em;
    padding-top: 60px;
    padding-bottom: 20px;
}
#hor{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;
    color: rgba(240, 248, 255, 0.671);
    padding: 10px;
}

#hed{
   
    text-align: center;
    padding-top: 36%;
    padding-left: 10%;
    padding-bottom: 0px;

}
.para{
    background-attachment: fixed;
    background-size: cover;
    width: 98vw;
   

}

#he {
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    background-image: url("midias/hed.jpg");
 
    
    
}
.pri{
    width: 98vw;
    display: block;
    padding: 0px;
    
}
.pri div{
    
    font-size: 1em;
    text-align: justify;
    color: black;
    width: 98%;
    height: 670px;
    padding-top: 0px;
}
.pri video{
    margin-top: -60px;
    padding: 10px;
    
    

   
}
.botao{
    margin-left: 25%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.336);
    font-size: 1.2em;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.616);
    background-color: red;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;

}
#bot{
    margin-left: 43%;
    margin-top: 20px;
}
.botao a{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: aliceblue;
}
#ima{
    background-image: url("midias/s11.jpg" );
    width: 98vw;
    height: 400px;
    padding: 0px;
    background-position: center;
}
article{
    display: flex;
    width: 98vw;
    height: 400px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

}
.art{
    width: 44%;
    padding: 20px;
}

h1{
    color: black;
    font-size: 3em;
    font-family: 'UnifrakturMaguntia', cursive;
    text-align: center;
    padding: 10px;
}
h2{
    color: black;
    font-size: 1.5em;
    font-family: 'UnifrakturMaguntia', cursive;
    text-align: center;
    padding: 15px;
}
p{
    font-size: 1.2em;
    color: black;
    text-align: justify;
    padding: 40px;
}
.sla{
    padding: 20px;
    color: black;
    text-align: justify;
    font-size: .8;
}
.slider{
    display: block;
   width: 98vw;
   height: 650px;
   overflow:hidden;
}
.slides{
    background-size: cover;
    width: 98vw;
    display: flex;
    padding-right: 0px;
}
.slides input{
    display: none;
}
#slide{
    width: 98vw;
    position: relative;
    background-size:cover;
}
.slide img{
    padding: 25px;
    background-size: cover;
    width: 25vh;
    height: 180px;
    border-radius: 50% 50%;
}
.nave-manual {
    position: absolute;
    width: 98vw;
    margin-top: 690px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-size:cover;
}
.manual-btn{
    border: 2px solid rgb(182, 248, 250);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.164);
}
.manual-btn:not(:last-child){
    margin-right: 10px;
}


.manual-btn:hover{
    background-color: aliceblue;
}
#radio1:checked~.first{
    margin-left: 0;
}
#radio2:checked~.first{
    margin-left: -25%;
}
#radio3:checked~.first{
    margin-left: -50%;
}
#radio4:checked~.first{
    margin-left: -75%;
}
#radio5:checked~.first{
    margin-left: -100%;
}
#radio6:checked~.first{
    margin-left: -125%;
}
#radio7:checked~.first{
    margin-left: -150%;
}
#radio8:checked~.first{
    margin-left: -175%;
}
#radio9:checked~.first{
    margin-left: -200%;
}


.navega-auto div{
    border: 2px solid rgb(38, 149, 252);
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;
}

.navega-auto{
    position: absolute;
    width: 98vw;
    margin-top: 690px;
    display: flex;
    justify-content: center;
}
.navega-auto div:not(:last-child){
    margin-right: 10px;
}

#radio1:checked~.navega-auto .auto-btn1{
    background-color: aliceblue;
}
#radio2:checked~.navega-auto .auto-btn2{
    background-color: aliceblue;
}
#radio3:checked~.navega-auto .auto-btn3{
    background-color: aliceblue;
}
#radio4:checked~.navega-auto .auto-btn4{
    background-color: aliceblue;
}
#radio5:checked~.navega-auto .auto-btn5{
    background-color: aliceblue;
}
#radio6:checked~.navega-auto .auto-btn6{
    background-color: aliceblue;
}
#radio7:checked~.navega-auto .auto-btn6{
    background-color: aliceblue;
}
#radio8:checked~.navega-auto .auto-btn6{
    background-color: aliceblue;
}
#cartao{
    background-image: url("midias/Cartão.png" );
    
    width: 98vw;
    height: 400px;
    padding: 0px;
    background-position: center;
}
iframe{
    width: 98vw;
    margin: 10px;
    border-radius: 10px;
}
.foo{
    margin-left: 60px;
    color: aliceblue;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
#foot{
    display: block;
    margin-left: 18%;
    
}
.midia{
    display: block;
    width: 35px;
    border-radius: 50% 50%;
    box-shadow: 3px 3px 5px rgba(77, 77, 77, 0.767);
    padding: 3px;
    padding-left: 0px;
}
#log{
    display: block;
    

}

footer{
    display: flex;
    width: 98vw;
    background-image: linear-gradient(to bottom, rgb(22, 22, 22), rgb(48, 47, 47), rgb(48, 47, 47), rgb(22, 22, 22));
    box-shadow: 3px 3px 5px black;    
    padding: 10px;
    padding-left: 0px;
}
#whats{
    position: fixed;
    bottom: 5px;
    left: 5px;
    width: 10%;
}.nome{
    position: fixed;
    bottom: 30px;
    left: 95px;
    width: 10%;
    font-family: 'UnifrakturMaguntia', cursive;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
   
}
.nomes{
    position: fixed;
    bottom: 3px;
    left: 85px;
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
    color: red;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    
}  

